body {
  min-height: 100vh;
}

.myheader {
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border-width: 0;
  margin: 0 auto;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: red;
}
